

<div>

    <img ng-src="{{event.imageUrl}}" alt="{{event.name}}"/>
    <button class="btn btn-primary" ng-click="scrollToSession()">Scroll</button>

    <div class="row">
        <div class="span11">
            <h1 ng-style="mystyle" ng-bind-template="Event: {{event.name | uppercase}} , {{event.date}}"> </h1>
            <h1 ng-class="myclass" ng-bind-template=" {{event.name}} , {{event.date}}"></h1>
        </div>
    </div>

    <button class="btn" ng-disabled="buttonDisabled">Disabled</button>

    <div>{{2+2}}</div>
    <div ng-non-bindable>{{5-3}}</div>

    <div ng-bind-html = "snippet">some title</div>
    <div ng-bind-html-unsafe = "snippet">some title</div>

    <h2 ng-show="boolValue"> ngSHOW THIS AY</h2>
    <h2 ng-hide="boolValue"> ngHIDE THIS AY</h2>
    <div class="row">
        <div class="span3">
            <div>Time: <strong>{{event.time}}</strong></div>
            <div>Date: <strong>{{event.date}}</strong></div>
        </div>
        <div class="span4">
            <address>
                <strong>Address:</strong>
                {{event.location.address}}<br/>
                {{event.location.city}}, {{event.location.province}}
            </address>
        </div>
    </div>

    <hr/>

    <h3>Sessions:</h3>
    Order By:
    <select ng-model="sortorder" class="input-small">
        <option selected value="name">Name</option>
        <option value="-upVoteCount">Votes</option>
    </select>
    Show:
    <select class="input-medium" ng-model="query.level"><!--I guess it just magically knows we are referring to our sessions array obj-->
        <option selected value="">All</option>
        <option selected value="beginner">Beginner</option>
        <option selected value="intermediate">Intermediate</option>
        <option selected value="advanced">Advanced</option>
    </select>
    <ul class="thumbnails">
        <li ng-repeat="session in event.sessions | orderBy:sortorder | limitTo:3 | filter:query" class="span11" id="session{{session.id}}">
            <div class="row session">
                <div class="span0 well votingWidget">
                    <div class="votingButton" ng-click="upVoteSession(session)">
                        <i class="icon-chevron-up icon-white"></i>
                    </div>
                    <div class="badge badge-inverse">
                        <div>{{session.upVoteCount}}</div>
                    </div>
                    <div class="votingButton" ng-click="downVoteSession(session)">
                        <i class="icon-chevron-down"></i>
                    </div>
                </div>
                <div class="well span9">
                    <h4 class="well-title">{{session.name}}</h4>
                    <h6>{{session.creatorName}}</h6>
                    <span>Duration: {{session.duration | durations}}</span><br/>
                    <span>Level: <img ng-src="{{session.level | iconLevels}}" alt="img broke"/> </span>
                    <p><i>Abstract</i>: {{session.abstract}}</p>
                </div>
            </div>
        </li>
    </ul>
</div>



